<link href="../../css/loginestilo.css" rel="stylesheet">
<div class="container text-center">
    <form class="form-signin">
        <img class="mb-4" src="../../img/logospot.png" alt="" width="90" height="90">

        <h1 class="h3 mb-3 font-weight-normal"><b>Conecte-se</b></h1>

        <!--<label class="sr-only">Seu nome</label>
        <input type="email" id="inputEmail" class="form-control meuform" placeholder="Seu nome" autofocus>

        <label class="sr-only">Estilo favorito</label>
        <input type="password" id="inputPassword" class="form-control meuform" placeholder="Estilo favorito">-->
        
        <p class="text-muted">Conecte-se com sua conta Spotify™ para receber um presente de nossa equipe.</p>
        
        <button class="btn btn-lg btn-block butaologin" type="button" ng-click="login()" style="background-color: #1ED760; color: #ffffff">Entrar</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>
</div>